body {
  text-transform: uppercase;
}

.navbar li {
  display: inline-block;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 5px 20px 20px 0;
}

.title h3 {
  margin-top: 60px;
  text-align: center;
}

.title img {
  display: flex;
  margin: 0 auto;
}

.gallery img {
  height: 280px;
  width: 28%;
}
